@font-face {
  font-family: 'Second Reign PERSONAL USE ONLY Border';
  font-style: normal;
  font-weight: normal;
  src: local('Second Reign PERSONAL USE ONLY Border'), url('SecondReignPersonalUseOnlyBorder-Wy5n9.otf') format('otf');
  }

.name-logo{
  font-family: 'Second Reign PERSONAL USE ONLY Border';  
}